.passwordinput {
    width: stretch;
    padding: 5px 10px;
    border: none;
    font-size: larger;
    border-radius: 5px;
    box-shadow: 0 5px 0 -2px lightgrey inset;
    text-overflow: ellipsis;
}

.red{
    color:red;
    font-size:small;
}